nav{
  background-color: aquamarine;
  padding: 20px;
  display: flex;
  gap: 20px;
}
li{
  list-style-type: none;
  color: rgb(29, 27, 56);
}
*{
  padding: 0;
  margin: 0;
}
.red{
  background-color: brown;
  color: white;
}